<section class="venue-one" style="margin-top: -120px;">
    <div class="container">
        <div class="block-title">
            <p>Комерцијална понуда</p>
            <h3 style="margin-bottom: 20px;">Конференциска сала</h3>
        </div><!-- /.block-title -->

        <div class="row">
            <div class="col-lg-4">
                <p class="about-one__highlighted-text">
                  <strong>Намена:</strong><br />Одржување на семинари, форуми, предавања, работилници, едукативни тренинзи, прес конференции, состаноци, филмски проекции, работни активности и разни уметнички креативни активности. <br />
                <strong>Капацитет:</strong><br />Од 80 до 100 места, со разновидна поставеност на столици и маси.
                </p><!-- /.about-one__highlighted-text -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <p>
                  <strong>Техничка опременост: </strong><br />LCD екран со HD резолуција за презентации со wi-fi и bluetooth поврзување; лап топ; бежичен интернет, говорница, додатни помошни масички за говорниците, табла за пишување, видео бим – проектор и платно. <br />
                    <strong>Дополнителен простор:</strong><br />Користење на чајна кујна, просторија за одмор и паузи, лифт.
                </p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <p>
                   <strong>Понуда:</strong> <br />
                    – Користење простор <br />
                    – Бесплатен интернет<br />
                    – Маси и столици<br />
                    <strong>Цена</strong><br />
                    - На час: 3000 ден. <br />
                    - На ден: 20.000 ден.
                </p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

        <div class="block-title" style="margin-top: 20px; margin-bottom: 10px;">
            <p>Дополнителна опрема и услуги (по избор):</p>
            
        </div><!-- /.block-title -->

        <div class="row">
            <div class="col-lg-8">
                <p class="about-one__highlighted-text">
                    – LCD телевизор   (150 ден. на час / 450 ден. на ден) <br />
                    – Проектор и платно за презентација   (150 ден. на час / 450 ден. на ден)<br />
                    – лап топ   (250 ден. на час / 650 ден. на ден)<br />
                    – Табла за пишување со фломастери   (50 ден. на час / 250 ден. на ден)<br />
                    – Принтер   (5 ден. страна)<br />
                    – Продолжен кабел   (30 ден. на час / 100 ден. на ден)<br />
                    – Техничко лице   (100 ден. на час / 700 ден. на ден)<br />
                    – Просторија за одмор и паузи со чајна кујна   (600 ден. на час / 3000 ден. на ден)

                </p><!-- /.about-one__highlighted-text -->
            </div><!-- /.col-lg-4 -->
          
            <div class="col-lg-4">
                <h5>Пакет со дополнителна просторија</h5>
                <p>
                    <strong>Вклучува:</strong> <br />
                    – Користење на просторија со помал капацитет<br />
                    – Чајна кујна<br />
                    – Бесплатен интернет<br />

                    <strong>Цена</strong><br />
                    - На час: 1000 ден. <br />
                    - На ден: 6000 ден.
                </p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <div class="row high-gutter">
            <div class="col-lg-4">
                <div class="venue-one__single">
                    <div class="venue-one__image">
                        <img src="~/assets/images/resources/kp1.jpg" alt="" style="width:360px; height: 320px;">
                    </div><!-- /.venue-one__image -->
                  
                </div><!-- /.venue-one__single -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">                                                                
                <div class="venue-one__single">
                    <div class="venue-one__image">
                        <img src="~/assets/images/resources/kp2.jpg" alt="" style="width:360px; height: 320px;">
                    </div><!-- /.venue-one__image -->

                </div><!-- /.venue-one__single -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="venue-one__single">
                    <div class="venue-one__image">
                        <img src="~/assets/images/resources/kp3.jpg" alt="" style="width:360px; height: 320px;">
                    </div><!-- /.venue-one__image -->

                </div><!-- /.venue-one__single -->
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <div class="venue-one__single">
                    <div class="venue-one__image">
                        <img src="~/assets/images/resources/kp4.jpg" alt="" style="width:360px; height: 320px;">
                    </div><!-- /.venue-one__image -->

                </div><!-- /.venue-one__single -->
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <div class="venue-one__single">
                    <div class="venue-one__image">
                        <img src="~/assets/images/resources/kp5.jpg" alt="" style="width:360px; height: 320px;">
                    </div><!-- /.venue-one__image -->

                </div><!-- /.venue-one__single -->
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <div class="venue-one__single">
                    <div class="venue-one__image">
                        <img src="~/assets/images/resources/kp6.jpg" alt="" style="width:360px; height: 320px;">
                    </div><!-- /.venue-one__image -->

                </div><!-- /.venue-one__single -->
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <div class="venue-one__single">
                    <div class="venue-one__image">
                        <img src="~/assets/images/resources/kp7.jpg" alt="" style="width:360px; height: 320px;">
                    </div><!-- /.venue-one__image -->

                </div><!-- /.venue-one__single -->
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <div class="venue-one__single">
                    <div class="venue-one__image">
                        <img src="~/assets/images/resources/kp8.jpg" alt="" style="width:360px; height: 320px;">
                    </div><!-- /.venue-one__image -->

                </div><!-- /.venue-one__single -->
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <div class="venue-one__single">
                    <div class="venue-one__image">
                        <img src="~/assets/images/resources/kp9.jpg" alt="" style="width:360px; height: 320px;">
                    </div><!-- /.venue-one__image -->

                </div><!-- /.venue-one__single -->
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <div class="venue-one__single">
                    <div class="venue-one__image">
                        <img src="~/assets/images/resources/kp10.jpg" alt="" style="width:360px; height: 320px;">
                    </div><!-- /.venue-one__image -->

                </div><!-- /.venue-one__single -->
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <div class="venue-one__single">
                    <div class="venue-one__image">
                        <img src="~/assets/images/resources/kp11.jpg" alt="" style="width:360px; height: 320px;">
                    </div><!-- /.venue-one__image -->

                </div><!-- /.venue-one__single -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="venue-one__single">
                    <div class="venue-one__image">
                        <img src="~/assets/images/resources/kp12.jpg" alt="" style="width:360px; height: 320px;">
                    </div><!-- /.venue-one__image -->

                </div><!-- /.venue-one__single -->
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <div class="venue-one__single">
                    <div class="venue-one__image">
                        <img src="~/assets/images/resources/kp13.jpg" alt="" style="width:360px; height: 320px;">
                    </div><!-- /.venue-one__image -->

                </div><!-- /.venue-one__single -->
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <div class="venue-one__single">
                    <div class="venue-one__image">
                        <img src="~/assets/images/resources/kp14.jpg" alt="" style="width:360px; height: 320px;">
                    </div><!-- /.venue-one__image -->

                </div><!-- /.venue-one__single -->
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <div class="venue-one__single">
                    <div class="venue-one__image">
                        <img src="~/assets/images/resources/kp15.jpg" alt="" style="width:360px; height: 320px;">
                    </div><!-- /.venue-one__image -->

                </div><!-- /.venue-one__single -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="venue-one__single">
                    <div class="venue-one__image">
                        <img src="~/assets/images/resources/kp16.jpg" alt="" style="width:360px; height: 320px;">
                    </div><!-- /.venue-one__image -->

                </div><!-- /.venue-one__single -->
            </div><!-- /.col-lg-4 -->


        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.venue-one -->