<div class="contact-one">
    <div class="container">
        <div class="block-title-two text-center">
            <p>Нарачка</p>
            <h3>Име на продукт</h3>
        </div><!-- /.block-title-two -->
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-one__box">
                    <h3>Направи нарачка</h3>
                    <p>Пополнете го формуларот да ја извршите нарачката *</p>
                </div><!-- /.contact-one__box -->
                <div class="contact-one__box">
                    <p>Продуктите ќе ви бидат доставени на домашната адреса преку карго.*</p>
                    @*<p>Сабота и Недела <br> 09:00 - 15:00</p>*@
                </div><!-- /.contact-one__box -->
              
                <div class="contact-one__box" style="margin-bottom: 20px;">
                    <h3>Сподели</h3>
                    <div class="contact-one__box-social">
                        <a href="https://www.facebook.com/fondnaholokaustot" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-youtube"></a>

                    </div><!-- /.contact-one__box-social -->
                </div><!-- /.contact-one__box -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-8">
                <form action="#" class="contact-form-validated contact-one__form">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" name="name" placeholder="Име*" required>
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <input type="text" name="surname" placeholder="Презиме*" required>
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <input type="text" name="email" placeholder="Емаил адреса*" required>
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <input type="text" name="phone" placeholder="Телефон">
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-12">
                            <textarea name="message" placeholder="Вашата порака..." required></textarea>
                        </div><!-- /.col-lg-12 -->
                        <div class="col-lg-12 text-center" style="margin-bottom: 40px;">
                            <button class="thm-btn contact-one__btn " type="submit">Нарачај</button>
                        </div><!-- /.col-lg-12 -->
                    </div><!-- /.row -->
                </form><!-- /.contact-one__form -->

            </div><!-- /.col-lg-8 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.contact-one -->