<section class="blog-one blog-grid-page">
    <div class="container">
        <div class="block-title">
            <p>За нас</p>
            @*<h3 style="margin-bottom: 20px;">Конференциска сала</h3>*@
        </div><!-- /.block-title -->

        <div class="row">
            <div class="col-lg-8">
                <p style="margin-top: 20px;">
                    Еврејското маало во Скопје, се наоѓаше на левата страна на реката Вардар, меѓу Камениот мост и Тврдината (Кале). До депортацијата на неговите жители на 11 март 1943 година, тоа беше витална населба со значајно учество во стопанскиот и просветно - културниот живот на Скопје. Затоа, лоцирањето на објектот на Меморијалниот центар на холокаустот на Евреите од Македонија има исклучителна симболика, не само за жртвите на холокаустот, врз чии имоти се наоѓа, туку и за Скопје и за Македонија, кои со изградбата на овој центар, им оддаваат трајна почит на своите депортирани сограѓани и од Битола и од Штип.
                </p> <br />
               <p>
                   <strong>Идејата</strong> за меморијал на холокаустот во Македонија, стана реалност по донесувањето на Законот за денационализација, кој е и правна основа за Фондот на холокаустот на Евреите од Македонија, основан на 23 април 2002 година, со одлука на тогашната Влада на Република Македонија. Фондот постои како единствено правно решение во Европа за заштита на имотните права на депортираните Евреи без живи наследници. Истовремено со материјалниот спомен, Меморијалниот центар ќе остварува долготрајна мисија во презентирање, едуцирање и истражувања поврзани со мултиетничките општества, за елиминирање на опасностите од секаков вид нетрпеливост, шовинизам, антисемитизам, во има на градење општество во кое етничката и верската разноликост, се цивилизациско богатство и основа за развој.
               </p><br />
               
                <strong>Локацијата и проектната програма на Меморијалниот центар</strong>
                <p>
                    Урбаната матрица на Скопје и конкретно на Еврејското маало е целосно уништена со земјотресот од 1963 година и со урбанизацијата на левиот брег на реката Вардар, што следуваше при обновата на Скопје. Новиот детален урбанистички план, на нашата локација креира нова урбана матрица, со нови содржини и тоа како композиција составена од објект од културата и деловен објект. Објектот на културата ја доби намената меморијален спомен дом на холокаустот на Евреите од Македонија. Од старата матрица, топосите кои се длабоко врежани во меморијата на жителите на градот, како на пример Давидовата улица и синагогата, се дел од приказната, преточена во постојаната музејска поставка на Меморијалниот центар на холокаустот на Евреите од Македонија.
                </p> <br />
                <strong>ПОСТОЈАНА МУЗЕЈСКА ПОСТАВКА</strong>
                <p>
                    „Приказната за македонското еврејство е фасцинанта. Неговите корени се древни. Преживувањето на Холокаустот значеше речиси целосно истребување а сепак давање отпор и спасување, значеше предавство и хероизам, како и прогон и враќање. Ова е музеј кој не смеете да го пропуштите“. Михаел Беренбаум, Museum Design and Implementation.
                </p> <br />
                <strong>1. Меморијална соба</strong>
                <p>
                    Адет е кога се оди на еврејски гроб да се стави камче, како што синовите на Јаков ставале на гробот од библиската мајка Рахил во Витлеем. На тој начин, живите се сеќаваат на мртвите. Неуништливоста на камењата е во спротивност со кревкоста на животот и ја покажува како пример трајната моќ на памтењето. По војната пепелта од центарот за убивање Треблинка ја донесоа „дома“ преживеаните од холокаустот.
                </p> <br />
                <strong>2. Комеморативен дел</strong>
                <p>
                    На влезот во музејот, посетителите веднаш ја забележуваат скулптурата на очајните преживеани луѓе кои држат врамени фотографии од своите блиски и сакаат да ја дознаат нивната судбината. Некои од рамките се празни – кога немалo преживеани, никој не можел да се интересира за нивната судбина. Во некои од рамките има огледала за да можат самите посетители да се замислат себеси и како нивната слика ја држи некој од преживеаните. Потоа, посетителите влегуваат во кино просторија во која се прикажува филм како вовед во изложбата, исто како што почетните тонови на симфонијата се вовед во нејзините главни теми. Филмот ги прикажува очекувањата кои ги има музејот од неговите посетители – дека посетата на овој музеј значи средба со чистото зло на Шоах (холокаустот) во Македонија и насекаде. Не е воопшто лесно да се појде на такво патување.
                </p> <br />

                <strong>3. Скалила</strong>
                <p>
                    Како што посетителите се качуваат по скалите од кино просторијата кон првиот кат, го гледаат калеидоскопот кој ја прикажува историјата на Евреите од Абрахам до денес, низ слики и кратки текстови.
                </p> <br />

                <strong>3. Скалила</strong>
                <p>
                    Најстарата позната синагога надвор од Израел се наоѓа во античкиот град Стоби. Овие еврејски корени во антиката на Македонија се добро документирани, а еврејските корени во регионот се мошне длабоки. Копијата од столб кој изворно се наоѓал во синагогата во Стоби е главниот експонат на изложбата која ја објаснува македонската/ еврејската приказна. Истовремено, изложбата објаснува како самата природа на синагогата, инаку централна институција на еврејскиот живот, им овозможила на Евреите да преминат од луѓе кои живеат на едно место кај светиот храм за верски обреди во Ерусалим, во луѓе кои можат повторно да воспостават верска заедница онаму каде ќе се соберат десет Евреи.
                </p> <br />

            </div><!-- /.col-lg-8 -->
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="sidebar__single">
                        <h3 class="sidebar__title">Пребарувај</h3>
                        <form action="#" class="sidebar__search">
                            <input type="text" placeholder="Пребарувај">
                            <button type="submit"><i class="muzex-icon-search"></i></button>
                        </form>
                    </div><!-- /.sidebar__single -->

                    <div class="sidebar__single">
                        <h3 class="sidebar__title">Едукација</h3>

                        <ul class="list-unstyled sidebar__cat-list">
                            <li><a href="#">Холокауст</a></li>
                            <li><a href="#">Кратка историја</a></li>
                            <li><a href="#">Евреите во Југославија</a></li>
                            <li><a href="#">Антисемитизам</a></li>
                            <li><a href="#">Почеток на војната</a></li>
                        </ul><!-- /.list-unstyled sidebar__cat-list -->
                    </div><!-- /.sidebar__single -->    

                    <div class="sidebar__single">
                        <h3 class="sidebar__title">Последни вести</h3>
                        <div class="sidebar__post">
                            <div class="sidebar__post-single">
                                <div class="sidebar__post-image">
                                    <img src="assets/images/blog/blog-lp-1-1.jpg" alt="">
                                </div><!-- /.sidebar__post-image -->
                                <div class="sidebar__post-content">
                                    <a class="sidebar__post-date" href="#">
                                        <i class="far fa-calendar-alt"></i>
                                        Oct 25, 2020
                                    </a>
                                    <h3><a href="#">Consequntur magni dolore eos qui. </a></h3>
                                </div><!-- /.sidebar__post-content -->
                            </div><!-- /.sidebar__post-single -->
                            <div class="sidebar__post-single">
                                <div class="sidebar__post-image">
                                    <img src="assets/images/blog/blog-lp-1-2.jpg" alt="">
                                </div><!-- /.sidebar__post-image -->
                                <div class="sidebar__post-content">
                                    <a class="sidebar__post-date" href="#">
                                        <i class="far fa-calendar-alt"></i>
                                        Oct 25, 2020
                                    </a>
                                    <h3><a href="#">Consequntur magni dolore eos qui. </a></h3>
                                </div><!-- /.sidebar__post-content -->
                            </div><!-- /.sidebar__post-single -->
                            <div class="sidebar__post-single">
                                <div class="sidebar__post-image">
                                    <img src="assets/images/blog/blog-lp-1-3.jpg" alt="">
                                </div><!-- /.sidebar__post-image -->
                                <div class="sidebar__post-content">
                                    <a class="sidebar__post-date" href="#">
                                        <i class="far fa-calendar-alt"></i>
                                        Oct 25, 2020
                                    </a>
                                    <h3><a href="#">Consequntur magni dolore eos qui. </a></h3>
                                </div><!-- /.sidebar__post-content -->
                            </div><!-- /.sidebar__post-single -->
                        </div><!-- /.sidebar__post -->
                    </div><!-- /.sidebar__single -->

                   


                </div><!-- /.sidebar -->
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.blog-one blog-grid-page -->