<style>
    .membership-one__single {
        padding-left: 20px;
        padding-right: 20px;
        font-weight: bold;
    }
</style>

<section class="membership-one" style="padding-bottom: 50px; padding-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="membership-one__single">
                
                    <h3>Билети</h3>
                    <p class="text-left">
                        Возрасни: 100 денари <br />
                        Ученици: 50 денари <br />
                        Лица со посебни потреби: 50 денари
                    </p>
                   
                </div><!-- /.membership-one__single -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="membership-one__single">
                   
                    <h3>Работно време</h3>
                    <h6>Меморијален центар на холокаустот на Евреите од Македонија</h6>
                    <p class="text-left">
                        Вторник - Петок 09:00 - 19:00 <br />
                        Сабота и Недела 09:00 - 15:00 <br /> <br />
                        * Поради пандемијата Ковид 19 , Меморијалниот центар на холокаустот на Евреите од Македонија е затворен за посетители.
                    </p>
                   
                </div><!-- /.membership-one__single -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="membership-one__single">
                   
                    <h3>Контакт</h3>
                    <p class="text-left">
                        Тел: +389 2 3298 025 <br />
                        Факс: +389 2 3232 310 <br />
                        <a href="info@holocaustfund.org.mk">e-mail: info@holocaustfund.org.mk</a>
                       
                    </p>
                    
                </div><!-- /.membership-one__single -->
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.membership-one -->