<div class="contact-one">
    <div class="container">
        <div class="block-title-two text-center">
            @*<p>Контакт</p>*@
            <h3>Контакт</h3>
        </div><!-- /.block-title-two -->
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-one__box">
                    <h3>Работно време</h3>
                    <h5>Фонд на холкаустот на Евреите од Македониjа</h5>
                    <p>Понеделник - Петок <br> 08:30 - 16:30</p>
                </div><!-- /.contact-one__box -->
                <div class="contact-one__box">
                    <h5>Меморијален центар на холокаустот на Евреите од Македонија</h5>
                    <p>Вторник - Петок <br> 09:00 - 19:00</p>
                    <p>Сабота и Недела <br> 09:00 - 15:00</p>
                </div><!-- /.contact-one__box -->
                <div class="contact-one__box">
                    <h3>Контакт</h3>
                    <p>Самоилова 2, Скопје 1000 <br> Република Македонија </p>
                    <p>
                        <a href="mailto:info@holocaustfund.org.mk">info@holocaustfund.org.mk</a> <br> <a href="tel:38923298025">Тел: +389 2 3298 025</a><br /><a href="#">Факс: +389 2 3232 310</a>
                    </p>
                </div><!-- /.contact-one__box -->
                <div class="contact-one__box" style="margin-bottom: 20px;">
                    <h3>Социјални мрежи</h3>
                    <div class="contact-one__box-social">
                        <a href="https://www.facebook.com/fondnaholokaustot" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-youtube"></a>
                      
                    </div><!-- /.contact-one__box-social -->
                </div><!-- /.contact-one__box -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-8">
                <form action="#" class="contact-form-validated contact-one__form">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" name="name"  placeholder="Име*" required>
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <input type="text" name="surname" placeholder="Презиме*" required>
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <input type="text" name="email" placeholder="Емаил адреса*" required>
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <input type="text" name="subject" placeholder="Наслов">
                        </div><!-- /.col-lg-6 -->
                     
                        <div class="col-lg-12">
                            <textarea name="message" placeholder="Вашата порака..." required></textarea>
                        </div><!-- /.col-lg-12 -->
                        <div class="col-lg-12">
                            <button class="thm-btn contact-one__btn" type="submit">Испрати</button>
                        </div><!-- /.col-lg-12 -->
                    </div><!-- /.row -->
                </form><!-- /.contact-one__form -->

                <div class="contact-map-one">
                    <div class="container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1482.5427634024195!2d21.433355!3d41.99844!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6f002b429d2cb1f4!2sMacedonian%20Holocaust%20Museum!5e0!3m2!1sen!2smk!4v1609101629296!5m2!1sen!2smk/www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1482.5427634024195!2d21.433355!3d41.99844!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6f002b429d2cb1f4!2sMacedonian%20Holocaust%20Museum!5e0!3m2!1sen!2smk!4v1609101629296!5m2!1sen!2smk" class="google-map__contact" allowfullscreen></iframe>

                    </div><!-- /.container -->
                </div><!-- /.contact-map-one -->
            </div><!-- /.col-lg-8 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.contact-one -->