@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="donate-one">
    <img src="assets/images/shapes/about-2-sculpture.png" class="donate-one__sculpture" alt="">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="donate-one__block">
                    <div class="block-title">
                        <p>Секоја помош од Ваша страна е повеќе од добредојдена.</p>
                        @*<h3>Make Donation</h3>*@
                    </div><!-- /.block-title -->
                    <p>
                        Донирајте за да продолжиме со успешната работа на
                        Фондот и на Меморијалниот центар на Холокаустот на Евреите во Македонија.
                    </p>
                </div><!-- /.donate-one__block -->
            </div><!-- /.col-lg-4 -->
            <div class="col-xl-8" style="margin-top: -60px;">
                <div class="donate-one__form">
                  <h3 class="donate-one__title">Донирај</h3> 
                   @* <div class="donate-one__amount">
    <h4 class="donate-one__subtitle">Број на жиро/трансакциска сметка:</h4>
    <p>210056682800182</p>
        <h4 class="donate-one__subtitle">Единствен матичен/даночен број:</h4>
        <p>ЕМБС: 5668280</p>
        <p>ЕДБ: 4030002451892</p>
        <h4 class="donate-one__subtitle">Депонент во:</h4>
        <p>НЛБ Тутунска банка Скопје</p>*@
                   
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="donate-one__input">
                                <h4 class="donate-one__subtitle">Број на жиро/трансакциска сметка:</h4>
                                <h5 style="color: black; text-transform: uppercase;">210056682800182</h5>
                            </div><!-- /.donate-one__input -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-12">
                            <div class="donate-one__input">
                                
                                    <h4 class="donate-one__subtitle">Единствен матичен/даночен број:</h4>
                                <h5 style="color: black; text-transform: uppercase;">ЕМБС: 5668280</h5>
                                <h5 style="color: black; text-transform: uppercase;">ЕДБ: 4030002451892</h5>
                                </div><!-- /.donate-one__input -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-12">
                            <div class="donate-one__input">
                                <h4 class="donate-one__subtitle">Депонент во:</h4>
                                <h5 style="color: black; text-transform: uppercase;">НЛБ Тутунска банка Скопје</h5>
                            </div><!-- /.donate-one__input -->
                        </div><!-- /.col-lg-12 -->
                      
                    </div><!-- /.row -->

                </div><!-- /.donate-one__form -->
            </div><!-- /.col-lg-8 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.donate-one -->