@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}  

   <!-- banner section -->
<section class="banner-section banner-section__home-two">
    <div class="banner-carousel thm__owl-carousel owl-theme owl-carousel" data-options='{"loop": true, "items": 1, "margin": 0, "dots": false, "nav": true, "animateOut": "fadeOut", "animateIn": "fadeIn", "active": true, "smartSpeed": 1000, "autoplay": true, "autoplayTimeout": 6000, "autoplayHoverPause": false}'>
        <!-- Slide Item -->
        <div class="slide-item" style="height: 683px;">
            <div class="image-layer lazy-image" style="background-image: url('/assets/images/main-slider/slajd1.jpg'); opacity: 0.4;"></div>
            <div class="container">
                <div class="content-box text-center">
                    <!-- <h3>ФОНД НА ХОЛОКАУСТОТ НА ЕВРЕИТЕ ОД МАКЕДОНИЈА</h3> -->
                    <h2>ФОНД НА ХОЛОКАУСТОТ НА ЕВРЕИТЕ ОД МАКЕДОНИЈА</h2>
                    <!-- <div class="btn-box">
                        <a href="#" class="thm-btn btn-style-one">Learn More</a>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- Slide Item -->
        <div class="slide-item" style="height: 683px;">
            <div class="image-layer lazy-image" style="background-image: url('/assets/images/main-slider/slajd2.jpg'); opacity: 0.4;"></div>
            <div class="container">
                <div class="content-box text-center">

                    <h2>„Омразата не води кон добро, а заборавот е предавство и неблагодарност кон тие што платија со живот“ - Ели Визел</h2>

                </div>
            </div>
        </div>
        <!-- Slide Item -->
        <div class="slide-item" style="height: 683px;">
            <div class="image-layer lazy-image" style="background-image: url('/assets/images/main-slider/slajd3.jpg'); opacity: 0.4;"></div>
            <div class="container">
                <div class="content-box text-center">
                    <!-- <h3>Opening On Sat. Oct 20, 2020</h3> -->
                    <h2>Донирајте за да продолжиме со успешната работа на Фондот и на Меморијалниот центар на Холокаустот на Евреите во Македонија</h2>
                    <div class="btn-box">
                        <a href="/Home/Donate" class="thm-btn btn-style-one">Донирај <i style="padding-left: 10px;" class="fas fa-hand-holding-heart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end banner section -->

<div class="about-cta__wrapper">
    <section class="cta-two">
        <div class="container">
            <div class="inner-container wow fadeInUp" data-wow-duration="1500ms">
                <div class="row no-gutters">
                    <div class="col-lg-4">
                        <div class="cta-two__box">
                            <div class="cta-two__icon">
                                <i class="muzex-icon-clock"></i>
                            </div><!-- /.cta-two__icon -->
                            <h3>Работно време</h3>
                            <p>
                                Понеделник - Петок <br>
                                08:30 – 16:30
                            </p>
                            <a href="/Home/Contact" class="thm-btn">Повеќе</a><!-- /.thm-btn -->
                        </div><!-- /.cta-two__box -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="cta-two__box">
                            <div class="cta-two__icon">
                                <i class="fas fa-landmark fa-2x"></i>
                            </div><!-- /.cta-two__icon -->
                            <h3>КОМЕРЦИЈАЛНА ПОНУДА</h3>
                            <p style="color: black;">
                                Изнајмете ги просториите во нашиот музеј и фонд <br>

                            </p>
                            <a href="/KomercijalnaPonuda" class="thm-btn" style="margin-bottom: 30px;">Повеќе</a><!-- /.thm-btn -->
                        </div><!-- /.cta-two__box -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="cta-two__box">
                            <div class="cta-two__icon">
                                <i class="muzex-icon-ticket"></i>
                            </div><!-- /.cta-two__icon -->
                            <h3>БИЛЕТИ</h3>
                            <p>
                                Групни тури со водач <br>

                            </p>
                            <a href="/Home/Bileti" class="thm-btn">Повеќе</a><!-- /.thm-btn -->
                        </div><!-- /.cta-two__box -->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div><!-- /.inner-container -->
        </div><!-- /.container -->
    </section><!-- /.cta-two -->

    <section class="event-one">

        <div class="container">
            <div class="block-title"style="margin-bottom: 20px;">
                <p>Новости и информации</p>
                @*<h3>Новости и информации</h3>*@
            </div><!-- /.block-title-two -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="event-one__single">
                        <div class="event-one__image">

                            <div class="event-one__image-box">
                                <div class="event-one__image-inner">
                                    <img src="~/assets/images/resources/vest1.png" alt="" style="width: 159px; height: 159px;">
                                </div><!-- /.event-one__image-inner -->
                            </div><!-- /.event-one__image-box -->
                        </div><!-- /.event-one__image -->
                        <div class="event-one__content">
                            <h3><a href="/News/Details">Одржан семинар на Меморијалниот центар на холокаустот на Евреите од Македонија и Centropa</a></h3>
                            <!-- <p>Man face fruit divided seasons herb from herb moveth whose.</p> -->
                        </div><!-- /.event-one__content -->
                        <div class="event-one__btn-block">
                            <a href="/News/Details" class="thm-btn event-one__btn">Прочитај повеќе </a>
                        </div><!-- /.event-one__btn-block -->
                    </div><!-- /.event-one__single -->
                </div><!-- /.col-lg-12 -->

            </div><!-- /.row -->

            <div class="btn-box text-center" style="margin-top: 20px;">
                <a href="/News" class="thm-btn btn-style-one btn-site">Види ги сите</a>
            </div>

        </div><!-- /.container -->
    </section><!-- /.event-one -->

    <section class="about-one" style="margin-bottom: -320px;">
        <div class="container">

            <div class="block-title">
                <p style="color: #f47c12;">За нас</p>
                <h3>Фонд и Меморијален центар на холокаустот на Евреите од Македонија </h3>
            </div><!-- /.block-title -->

            <div class="row">
                <div class="col-lg-4">
                    <p>
                        <img src="~/assets/images/main-slider/slajd1.jpg" alt="museum" style="width: 100%; height: 290px;">
                    </p><!-- /.about-one__highlighted-text -->
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-8">
                            <p>
                                „Омразата не води кон добро, а заборавот е предавство и неблагодарност кон тие што платија со живот“ - Ели Визел. <br>
                                Оваа мисла на големиот миротворец Ели Визел ја одразува суштината на активната меморија за деструктивноста на човековото поведение, од која произлегува мисијата на Меморијалниот центар на холокаустот на Евреите од Македонија.
                            </p>
                        </div>
                        <div class="col-lg-4"><img src="~/assets/images/backgrounds/nominacija.png" style="width: 100%; height: 150px;"></div>
                        <br>
                        <img src="~/assets/images/backgrounds/museum.png" alt="museum" style="width: 100%;" />

                    </div><!-- /.col-lg-4 -->
                </div>
                <!-- <div class="col-lg-4">
                    <p>So fish under The given own replenish. Greater land every very cattle replenish set unto. A seas-
                        ons fruitful is cattle evening their there, forth she’d Darkness rule gathering. Midst it you’re
                        gathered yielding without shall is beast.Life spirit firmament likeness fill moveth i appear
                        good waters evening there image given his without meat, them.</p>
                </div>/.col-lg-4 -->
            </div><!-- /.row -->

        </div><!-- /.container -->
    </section><!-- /.about-one -->
</div><!-- /.about-cta__wrapper -->



<section class="exhibition-two">
    <div class="container">
        <div class="block-title" style="padding-top: 200px; margin-bottom: 20px;">
            <p style="color: #f47c12; ">Едукација</p>
            @*<h3>Едукација</h3>*@
        </div><!-- /.block-title-two -->
        <div class="shadowed__carousel owl-carousel owl-theme thm__owl-carousel exhibition-two__carousel" data-options='{
			"items": 3, "margin": 40, "dots": false, "nav": false, "smartSpeed": 700, "loop": true, "autoplay": true, "autoplayTimeout": 5000, "autoplayHoverPause": true, "responsive": {
				"1199": { "items": 3, "margin": 40},
				"991": { "items": 2, "margin": 40},
				"767": { "items": 2, "margin": 30},
				"575": { "items": 1, "margin": 0},
				"0": { "items": 1, "margin": 0}
			}
		}'>
            <div class="item">
                <div class="exhibition-two__single">
                    <div class="exhibition-two__image">
                        <img src="~/assets/images/main-slider/slajd1.jpg" alt="">
                    </div><!-- /.exhibition-two__image -->
                    <div class="exhibition-two__content">
                        <h3><a href="event-details.html">Што е тоа холокауст?</a></h3>
                        <span>Холокауст</span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, similique!</p>
                        <a href="#" class="exhibition-two__link">Прочитај повеќе</a>
                        <!-- /.exhibition-two__link -->

                    </div><!-- /.exhibition-two__content -->
                </div><!-- /.exhibition-two__single -->

            </div><!-- /.item -->
            <div class="item">
                <div class="exhibition-two__single">
                    <div class="exhibition-two__image">
                        <img src="~/assets/images/main-slider/slajd2.jpg" alt="">
                    </div><!-- /.exhibition-two__image -->
                    <div class="exhibition-two__content">
                        <h3><a href="event-details.html">Кратка историја на еврејскиот народ </a></h3>
                        <span>Историја на еврејскиот народ</span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, illum!</p>
                        <a href="#" class="exhibition-two__link">Прочитај повеќе</a>
                        <!-- /.exhibition-two__link -->

                    </div><!-- /.exhibition-two__content -->
                </div><!-- /.exhibition-two__single -->

            </div><!-- /.item -->
            <div class="item">
                <div class="exhibition-two__single">
                    <div class="exhibition-two__image">
                        <img src="~/assets/images/main-slider/slajd3.jpg" alt="">
                    </div><!-- /.exhibition-two__image -->
                    <div class="exhibition-two__content">
                        <h3><a href="event-details.html">Почеток на војната</a></h3>
                        <span>Холокауст</span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, dolore?</p>
                        <a href="#" class="exhibition-two__link">Прочитај повеќе</a>
                        <!-- /.exhibition-two__link -->

                    </div><!-- /.exhibition-two__content -->
                </div><!-- /.exhibition-two__single -->

            </div><!-- /.item -->

            <div class="item">
                <div class="exhibition-two__single">
                    <div class="exhibition-two__image">
                        <img src="~/assets/images/main-slider/slajd1.jpg" alt="">
                    </div><!-- /.exhibition-two__image -->
                    <div class="exhibition-two__content">
                        <h3><a href="event-details.html">Што е тоа холокауст?</a></h3>
                        <span>Холокауст</span>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, provident?</p>
                        <a href="#" class="exhibition-two__link">Прочитај повеќе</a>
                        <!-- /.exhibition-two__link -->

                    </div><!-- /.exhibition-two__content -->
                </div><!-- /.exhibition-two__single -->

            </div><!-- /.item -->


        </div><!-- /.exhibition-two__carousel owl-carousel owl-theme thm__owl-carousel -->

        <div class="btn-box text-center" style="margin-top: 20px;">
            <a href="/Edukacija" class="thm-btn btn-style-one btn-site"> Види ги сите </a>
        </div>

    </div><!-- /.container -->

</section><!-- /.exhibition-two -->

<section class="collection-one" style="background-image: url(/assets/images/shapes/collection-bg-1-1.jpg);">
    <div class="container">
        <div class="collection-one__top">
            <div class="block-title">
                <!-- <p>Gallery</p> -->
                <h3>Публикации</h3>
            </div><!-- /.block-title -->
            <div class="more-post__block">
                <a class="more-post__link" href="/Publikacii">
                    Види ги сите
                    <span class="curved-circle"> Види ги сите &nbsp;&emsp; Види ги сите &nbsp;&emsp; Види ги сите Види ги сите &nbsp;&emsp; &nbsp;&emsp; </span>
                    <!-- /.curved-circle -->
                </a>
            </div><!-- /.more-post__block -->
        </div><!-- /.collection-one__top -->
    </div><!-- /.container -->

    <div class="collection-one__carousel thm__owl-carousel owl-theme owl-carousel" data-options='{
        "loop": true, "autoplay": true, "autoplayTimeout": 5000, "autoplayHoverPause": true, "smartSpeed": 700, "items": 3, "margin": 100, "dots": false, "nav": false, "responsive": {
            "0": { "items": 1, "margin": 0 },
            "625": { "items": 2, "margin": 30 },
            "767": { "items": 2, "margin": 30 },
            "991": { "items": 2, "margin": 30},  "1199": { "margin": 30, "items": 3}, "1366": { "margin": 50, "items": 3 }, "1440": { "margin": 50, "items": 3 }, "1750": { "items": 3, "margin": 70 }, "1920": { "items": 3, "margin": 100 } }
    }'>
        <div class="item">
            <div class="collection-one__single">
                <img src="~/assets/images/resources/pub1.jpg" alt="" style="width: 340px; height: 460px;">
                <div class="collection-one__content">
                    <h3><a href="event-details.html">Евреите во Македонија за време на Втората светска војна</a></h3>
                    <p class="ime-avtor">Мајкл Беренбаум</p>
                </div><!-- /.collection-one__content -->
            </div><!-- /.collection-one__single -->
        </div><!-- /.item -->


        <div class="item">
            <div class="collection-one__single">
                <img src="~/assets/images/resources/pub3.jpg" alt="" style="width: 340px; height: 460px;">
                <div class="collection-one__content">
                    <h3><a href="event-details.html">The Republic of Macedonia</a></h3>
                    <p class="ime-avtor">Група автори</p>
                </div><!-- /.collection-one__content -->
            </div><!-- /.collection-one__single -->
        </div><!-- /.item -->
        <div class="item">
            <div class="collection-one__single">
                <img src="~/assets/images/resources/pub4.jpg" alt="" style="width: 340px; height: 460px;">
                <div class="collection-one__content">
                    <h3><a href="event-details.html">Плима и слом: од историјата на Евреите во Вардарска Македонија</a></h3>
                    <p class="ime-avtor">Жени Лебл</p>
                </div><!-- /.collection-one__content -->
            </div><!-- /.collection-one__single -->
        </div><!-- /.item -->
        <div class="item">
            <div class="collection-one__single">
                <img src="~/assets/images/resources/pub1.jpg" alt="" style="width: 340px; height: 460px;">
                <div class="collection-one__content">
                    <h3><a href="event-details.html">Евреите во Македонија за време на Втората светска војна</a></h3>
                    <p class="ime-avtor">Мајкл Беренбаум</p>
                </div><!-- /.collection-one__content -->
            </div><!-- /.collection-one__single -->
        </div><!-- /.item -->
        <div class="item">
            <div class="collection-one__single">
                <img src="~/assets/images/resources/pub1.jpg" alt="" style="width: 340px; height: 460px;">
                <div class="collection-one__content">
                    <h3><a href="event-details.html">Евреите во Македонија за време на Втората светска војна</a></h3>
                    <p class="ime-avtor">Мајкл Беренбаум</p>
                </div><!-- /.collection-one__content -->
            </div><!-- /.collection-one__single -->
        </div><!-- /.item -->
    </div><!-- /.collection-one__carousel thm__owl-carousel owl-theme -->
</section><!-- /.collection-one -->

<section class="featured-collection" style="padding-bottom: 60px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="featured-collection__left">
                    <div class="featured-collection__image">
                        <img src="~/assets/images/resources/prod1.jpg" alt="">
                    </div><!-- /.featured-collection__image -->
                    <p style="font-size: 18px; color: black;">Нарачајте онлајн од удобноста на вашиот дом.</p>
                    <a href="/Prodavnica" class="thm-btn featured-collection__btn" style="text-transform: uppercase;">Посети ја нашата продавница</a>
                    <!-- /.thm-btn featured-collection__btn -->
                </div><!-- /.featured-collection__left -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="featured-collection__right">
                    <div class="block-title">
                        <!-- <p>Collection</p> -->
                        <h3>Продавница</h3>
                    </div><!-- /.block-title -->
                    <p style="font-size: 18px;">Посетете ја нашата продавница и нарачајте онлајн. Продуктите ќе ви бидат доставени на домашната адреса преку карго.</p>
                    <div class="featured-collection__image">
                        <img src="~/assets/images/resources/prod2.jpg" alt="">
                    </div><!-- /.featured-collection__image -->
                </div><!-- /.featured-collection__right -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.featured-collection -->



<section class="cta-one" style="background-image: url(~/assets/images/shapes/cta-bg-1-1.jpg); padding-bottom: 40px; padding-top: 40px;">
    <div class="container text-center">
        <h3>Секоја помош од Ваша страна е повеќе од добредојдена.</h3>
        <p>
            Донирајте за да продолжиме со успешната работа на <br>Фондот и на Меморијалниот центар на Холокаустот на Евреите во Македонија.

        </p>
        <div class="btn-box">
            <a href="/Home/Donate" class="thm-btn btn-style-one">Донирај <i style="padding-left: 10px;" class="fas fa-hand-holding-heart"></i></a>
        </div>
        <!-- /.cta-one__btn-block -->
    </div>
    <!-- /.container -->
</section>

<!-- /.cta-one -->
<section class="blog-one" style="padding-top: 20px; padding-bottom: 40px;">
    <div class="container">
        <div class="blog-one__top">
            <div class="block-title ">
                <p>видеа</p> 
                @*<h3>Последни видеа</h3>*@
            </div>


            <!-- /.more-post__block -->
        </div>
        <!-- /.blog-one__top -->
        <div class="row">

            <div class="col-lg-4">
                <div class="blog-one__single">
                    <div class="blog-one__image">
                        <iframe width="370" height="270" src="https://www.youtube.com/embed/OFsqtLoaHtY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </div><!-- /.blog-one__image -->
                    <div class="blog-one__content">

                        <h3><a href="#">Меморијален центар на холокаустот на Евреите</a></h3>
                        <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate, molestiae.</p> -->
                        @*<a href="#" class="blog-one__link">Повеќе</a>*@
                    </div>
                </div><!-- /.blog-one__single -->
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <div class="blog-one__single">
                    <div class="blog-one__image">
                        <iframe width="370" height="270" src="https://www.youtube.com/embed/6TCd0Ffw6ic" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </div><!-- /.blog-one__image -->
                    <div class="blog-one__content">

                        <h3><a href="#">Macedonian Jews, Major deportations to extermination camps, 1942-1944 by BULGARIAN-NAZI</a></h3>
                        <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate, molestiae.</p> -->
                        @*<a href="#" class="blog-one__link">Повеќе</a>*@
                    </div>
                </div><!-- /.blog-one__single -->
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <div class="blog-one__single">
                    <div class="blog-one__image">
                        <iframe width="370" height="270" src="https://www.youtube.com/embed/OFsqtLoaHtY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </div><!-- /.blog-one__image -->
                    <div class="blog-one__content">

                        <h3><a href="#">Меморијален центар на холокаустот на Евреите</a></h3>
                        <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate, molestiae.</p> -->
                        @*<a href="news-details.html" class="blog-one__link">Повеќе</a>*@
                    </div>
                </div><!-- /.blog-one__single -->
            </div><!-- /.col-lg-4 -->



        </div>
        <!-- /.row -->
        <div class="btn-box text-center" style="margin-top: 20px;">
            <a href="/Videos" class="thm-btn btn-style-one btn-site">Види ги сите</a>
        </div>

    </div>
    <!-- /.container -->
</section>


@*<section class="cta-one text-center" style="background-color: white; padding: 0;">
    <img src="~/assets/images/backgrounds/ema-logo1.png" style="width: 100%;">
    <img src="~/assets/images/backgrounds/museum.png" style="width: 100%;">
</section>*@

<section class="testimonials-one" style="margin-top: 20px;">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-lg-6 d-flex">
                <div class="my-auto">
                    <div class="testimonials-one__block">
                        <div class="block-title">
                            <p>Книга за впечатоци</p>
                            <!-- <h3>What Clients Say?</h3> -->
                        </div><!-- /.block-title -->
                        <div class="testimonials-one__carousel owl-carousel thm__owl-carousel owl-theme" data-options='{
						"items": 1, "loop": true, "margin": 0, "smartSpeed": 700, "autoplayHoverPause": true, "autoplayTimeout": 5000, "autoplay": true, "dots": false, "nav": true }'>
                            <div class="item">
                                <div class="testimonials-one__single">
                                    <img src="~/assets/images/shapes/testi-qoute-1-1.png" alt="">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, consequatur.</p>
                                    <div class="testimonials-one__author">
                                        <!-- <img src="assets/images/resources/testi-1-1.jpg" alt=""> -->
                                        <h4>- Eunice Bailey</h4>
                                    </div><!-- /.testimonials-one__author -->
                                </div><!-- /.testimonials-one__single -->
                            </div><!-- /.item -->

                            <div class="item">
                                <div class="testimonials-one__single">
                                    <img src="~/assets/images/shapes/testi-qoute-1-1.png" alt="">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, consequatur.</p>
                                    <div class="testimonials-one__author">
                                        <!-- <img src="assets/images/resources/testi-1-1.jpg" alt=""> -->
                                        <h4>- Eunice Bailey</h4>
                                    </div><!-- /.testimonials-one__author -->
                                </div><!-- /.testimonials-one__single -->
                            </div><!-- /.item -->

                        </div><!-- /.testimonials-one__carousel owl-carousel thm__owl-carousel owl-theme -->
                    </div><!-- /.testimonials-one__block -->

                </div><!-- /.my-auto -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="testimonials-one__main-image">
                    <img src="~/assets/images/resources/testiomonials.jpg" alt="">
                </div><!-- /.testimonials-one__main-image -->
            </div><!-- /.col-lg-6 -->

        </div><!-- /.row no-gutters -->
    </div><!-- /.container-fluid -->
</section><!-- /.testimonials-one -->