<section class="blog-one blog-grid-page">
    <div class="container">

        <div class="row">
            <div class="col-lg-8">
                <h3 class="text-center" style="margin-bottom:40px; color:black">НАЈНОВИ ИНФОРМАЦИИ</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="blog-one__single">
                            <div class="blog-one__image">
                                <img src="~/assets/images/resources/vest1.png" alt="">
                                <div class="blog-one__date">
                                    <i class="far fa-calendar-alt"></i>
                                    Oct 25, 2020
                                </div><!-- /.blog-one__date -->
                            </div><!-- /.blog-one__image -->
                            <div class="blog-one__content">
                                <ul class="blog-one__meta list-unstyled">
                                    <li><a href="#">Категорија</a></li>

                                </ul><!-- /.blog-one__meta list-unstyled -->
                                <h3><a href="#">Одржан семинар на Меморијалниот центар на холокаустот на Евреите од Македонија и Centropa</a></h3>
                                @*<p>
                                    Одржан семинар на Меморијалниот центар на холокаустот на Евреите од Македонија и Centropa
                                </p>*@
                                <a href="/News/Details" class="blog-one__link">Прочитај повеќе</a>
                                <!-- /.blog-one__link -->
                            </div><!-- /.blog-one__content -->
                        </div><!-- /.blog-one__single -->
                    </div><!-- /.col-md-6 -->
                    <div class="col-md-6">
                        <div class="blog-one__single">
                            <div class="blog-one__image">
                                <img src="~/assets/images/resources/vest1.png" alt="">
                                <div class="blog-one__date">
                                    <i class="far fa-calendar-alt"></i>
                                    Oct 25, 2020
                                </div><!-- /.blog-one__date -->
                            </div><!-- /.blog-one__image -->
                            <div class="blog-one__content">
                                <ul class="blog-one__meta list-unstyled">
                                    <li><a href="#">Категорија</a></li>

                                </ul><!-- /.blog-one__meta list-unstyled -->
                                <h3><a href="#">Одржан семинар на Меморијалниот центар на холокаустот на Евреите од Македонија и Centropa</a></h3>
                                @*<p>
                                    Одржан семинар на Меморијалниот центар на холокаустот на Евреите од Македонија и Centropa
                                </p>*@
                                <a href="/News/Details" class="blog-one__link">Прочитај повеќе</a>
                                <!-- /.blog-one__link -->
                            </div><!-- /.blog-one__content -->
                        </div><!-- /.blog-one__single -->
                    </div><!-- /.col-md-6 -->




                </div><!-- /.row -->
                <div class="text-center d-flex justify-content-center">
                    <div class="post-pagination">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#"><i class="fa fa-angle-right"></i></a>
                    </div><!-- /.post-pagination -->
                </div><!-- /.text-center d-flex justify-content-center -->

            </div><!-- /.col-lg-8 -->
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="sidebar__single">
                        <h3 class="sidebar__title">Пребарувај</h3>
                        <form action="#" class="sidebar__search">
                            <input type="text" placeholder="Пребарувај">
                            <button type="submit"><i class="muzex-icon-search"></i></button>
                        </form>
                    </div><!-- /.sidebar__single -->

                    <div class="sidebar__single">
                        <h3 class="sidebar__title">Последни вести</h3>
                        <div class="sidebar__post">
                            <div class="sidebar__post-single">
                                <div class="sidebar__post-image">
                                    <img src="assets/images/blog/blog-lp-1-1.jpg" alt="">
                                </div><!-- /.sidebar__post-image -->
                                <div class="sidebar__post-content">
                                    <a class="sidebar__post-date" href="#">
                                        <i class="far fa-calendar-alt"></i>
                                        Oct 25, 2020
                                    </a>
                                    <h3><a href="#">Consequntur magni dolore eos qui. </a></h3>
                                </div><!-- /.sidebar__post-content -->
                            </div><!-- /.sidebar__post-single -->
                            <div class="sidebar__post-single">
                                <div class="sidebar__post-image">
                                    <img src="assets/images/blog/blog-lp-1-2.jpg" alt="">
                                </div><!-- /.sidebar__post-image -->
                                <div class="sidebar__post-content">
                                    <a class="sidebar__post-date" href="#">
                                        <i class="far fa-calendar-alt"></i>
                                        Oct 25, 2020
                                    </a>
                                    <h3><a href="#">Consequntur magni dolore eos qui. </a></h3>
                                </div><!-- /.sidebar__post-content -->
                            </div><!-- /.sidebar__post-single -->
                            <div class="sidebar__post-single">
                                <div class="sidebar__post-image">
                                    <img src="assets/images/blog/blog-lp-1-3.jpg" alt="">
                                </div><!-- /.sidebar__post-image -->
                                <div class="sidebar__post-content">
                                    <a class="sidebar__post-date" href="#">
                                        <i class="far fa-calendar-alt"></i>
                                        Oct 25, 2020
                                    </a>
                                    <h3><a href="#">Consequntur magni dolore eos qui. </a></h3>
                                </div><!-- /.sidebar__post-content -->
                            </div><!-- /.sidebar__post-single -->
                        </div><!-- /.sidebar__post -->
                    </div><!-- /.sidebar__single -->

                    <div class="sidebar__single">
                        <h3 class="sidebar__title">Едукација</h3>

                        <ul class="list-unstyled sidebar__cat-list">
                            <li><a href="#">Холокауст</a></li>
                            <li><a href="#">Кратка историја</a></li>
                            <li><a href="#">Евреите во Југославија</a></li>
                            <li><a href="#">Антисемитизам</a></li>
                            <li><a href="#">Почеток на војната</a></li>
                        </ul><!-- /.list-unstyled sidebar__cat-list -->
                    </div><!-- /.sidebar__single -->
                 

                </div><!-- /.sidebar -->
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.blog-one blog-grid-page -->